* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
}

header {
  width: 100%;
  height: 40vh;
  background: #191f26;
  position: relative;
  padding: 5vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header h1 {
  color: #fff;
}
header #gnb {
  display: flex;
  gap: 60px;
  padding-top: 10px;
  color: #fff;
}
header #gnb li {
  cursor: pointer;
}
header .fa-bars {
  color: #fff;
  position: absolute;
  right: 5vw;
  top: 5vh;
  font-size: 24px;
  display: none;
}

figure {
  width: 100%;
  height: 60vh;
  background: #191f26;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
figure .tits {
  height: 12vw;
  position: absolute;
  top: -5vw;
  left: 10vw;
}
figure .tits h2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 5vw;
  line-height: 1;
  color: rgba(255, 255, 255, 0.2);
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}
figure .tits h2.on {
  opacity: 1;
  transform: translateX(0px);
}
figure .bgs {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #191f26;
  opacity: 1;
}
figure .bgs video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
}
figure .bgs video.on {
  opacity: 0.4;
}
figure .paging {
  color: #bbb;
  font-size: 30px;
  letter-spacing: 1px;
  position: absolute;
  top: -50px;
  right: 10vw;
}
figure .paging strong {
  color: #fff;
  font-weight: normal;
  opacity: 0.7;
}
figure .paging span {
  color: #ddd;
  display: inline-block;
  opacity: 0.6;
  transform: scale(0.5) translateX(-20px) translateY(10px);
}
figure .banner {
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
figure .banner ul {
  width: 166.6666666667%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
figure .banner ul li {
  float: left;
  width: 20%;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  position: relative;
}
figure .banner ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(21, 32, 44, 0.5);
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: 0.5s;
}
figure .banner ul li .txt {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 60%;
  transition: 0.5s;
}
figure .banner ul li .txt strong {
  display: block;
  width: 100%;
  font: 20px;
  color: yellow;
  margin-bottom: 20px;
  opacity: 0.4;
  transition: 0.5s;
}
figure .banner ul li .txt h2 {
  width: 100%;
  font: 24px;
  letter-spacing: 1px;
  opacity: 0.5;
  padding-top: 20px;
  position: relative;
  transition: 0.5s;
}
figure .banner ul li .txt h2::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
figure .banner ul li .txt h2 span {
  display: block;
  width: 0%;
  height: 2px;
  background: orange;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
figure .banner ul li .txt p {
  opacity: 0;
  height: 0;
  margin-top: 30px;
  overflow: hidden;
  transition: 0.5s;
}
figure .banner ul li .txt a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin-top: 30px;
  transform: translateY(100px);
  transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
}
figure .banner ul li:hover {
  border-left: 1px solid transparent;
}
figure .banner ul li:hover::before {
  bottom: 0%;
}
figure .banner ul li:hover .txt {
  top: 20%;
}
figure .banner ul li:hover .txt p {
  height: auto;
  opacity: 0.4;
}
figure .banner ul li:hover .txt a {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
figure .banner ul li:hover .txt a:hover {
  background: #fff;
  color: #555;
}
figure .banner ul li:nth-of-type(2) p {
  opacity: 0.5;
}
figure .banner ul li:nth-of-type(2) h2 {
  opacity: 1;
}
figure .banner ul li:nth-of-type(2) h2 span {
  width: 100%;
  animation: ani 2s linear 1;
}
figure .controls {
  width: 30%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}
figure .controls .auto {
  display: flex;
  gap: 20px;
  color: #fff;
}
figure .controls .auto li {
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
}
figure .controls .auto li.on {
  opacity: 1;
  transform: scale(1.3);
}
figure .controls .btns {
  display: flex;
  gap: 20px;
  color: #fff;
}
figure .controls .btns li {
  cursor: pointer;
}
figure .controls .btns li i {
  display: inline-block;
  transform: scale(1);
  opacity: 0.5;
}
figure .controls .btns li:active i {
  animation: scale 0.2s linear 1;
}

@keyframes ani {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
